*{
background-image: url(../images/empanadas.png);
background-repeat: repeat;
background-size: 1.5px 1.5px;
background-color: rgb(232, 232, 232);
text-decoration: none;
color: #555555;
}
h1{
    font-size: 3.5vw;
    background-color:  #d8d8d8;
    text-align: center;
}
h2{ 
    font-size: 2.5vw;
    margin: 5vw;
}
p{
    font-size: 2vw;
    margin-left: 1.5vw;
}
ul{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 35vw;
}
ol{
    margin-top: 50px;
    margin-bottom: 50px;
}
li{
    font-size: 1.85vw;
    margin-top: 10px;
}
img {
    margin-left: 32vw;
}
.note{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
}